%nav.navbar.bg-dark-gradient.col-lg-12.col-12.p-0.fixed-top.navbar-inverse.d-flex.flex-row
  %a.navbar-brand{:href => root_path}
    %h3= t 'navbar.attendance'
  - if staff_signed_in?
    %ul.navbar-nav.ml-lg-5.d-flex.align-items-center.flex-row
      %li.nav-item
        %a.nav-link{ :href => standards_path }
          %h5= t 'navbar.standard'
      %li.nav-item
        %a.nav-link{ :href => staffs_path }
          %h5= t 'navbar.staff'
      %li.nav-item
        %a.nav-link{ :href => students_path }
          %h5= t 'navbar.students'
    %ul.navbar-nav.ml-lg-auto.d-flex.align-items-center.flex-row
      - if current_page? locale: :"mr-IN"
        %li.nav-item
          = link_to '<h5>Switch to English</h5>'.html_safe, locale: :en
      - else
        %li.nav-item
          = link_to '<h5>Switch to Marathi</h5>'.html_safe, locale: :'mr-IN'
      %li.nav-item
        %a.nav-link.profile-pic
          #{current_staff.name}
          = image_tag 'face', class: 'rounded-circle'
      %li.nav-item
        %a.nav-link{ :href => destroy_staff_session_path, method: :delete }
          %h5= t 'navbar.logout'
  - unless staff_signed_in?
    %ul.navbar-nav.ml-lg-auto.d-flex.align-items-center.flex-row
      %li.nav-item
        %a.nav-link{ :href => new_staff_session_path }
          %h5= t 'navbar.login'
