%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#home"}= t 'global.students'
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#menu1"}= t 'global.upload'

.tab-content
  #home.tab-pane.container.active
    .card
      .card-body
        .row
          .col-md-4
            %h4.card-title= t 'global.students'
          .col-md-2
            %h5= t 'global.standard'
          .col-md-6
            = select_tag 'standard', options_for_select(@standards.collect{ |s| [s.name, s.id] }), class: 'standard-select', include_blank: 'select class'
        .card-description

        %table.table.table-striped#dttb
          %thead
            %th= t 'students.reg_no'
            %th= t 'students.roll_no'
            %th= t 'students.name'
            %th= t 'students.guardian_name'
            %th= t 'students.guardian_mobile'
            %th Delete

          %tbody
          = pagy_bootstrap_responsive_nav(@pagy).html_safe
  #menu1.tab-pane.container.fade
    .card
      .card-body
        %h4 Upload student information
        .row
          = form_for 'student', url: students_path do |f|
            = f.file_field "file", {onchange: 'this.form.submit();'}
        .row
          = link_to 'Download Sample', '/student-inventory.csv', action: 'download'

.modal.bd-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %h4.align-body Are You Sure?
      .modal-footer
        %button.btn.btn-primary.delete-student{:type => "button"} Yes
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} No

