%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#home"}= t 'navbar.students'
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#menu1"}= t 'navbar.upload'

.tab-content
  #home.tab-pane.container.active
    .card
      .card-body
        .row
          .col-md-4
            %h4.card-title= t 'navbar.students'
          .col-md-2
            %h5= t 'navbar.standard'
          .col-md-6
            = select_tag 'standard', options_for_select(@standards.collect{ |s| [s.name, s.id] }), class: 'standard-select'
        .card-description

        %table.table.table-striped
          %thead
            %th= t 'students.reg_no'
            %th= t 'students.roll_no'
            %th= t 'students.name'
            %th= t 'students.guardian_name'
            %th= t 'students.guardian_mobile'
          %tbody
            - @records.each do |record|
              %tr
                %td= record.registration_no
                %td= record.roll_no
                %td= record.name
                %td= record.guardian_name
                %td= record.guardian_mobile_no.to_s + ' / ' + record.guardian_alternate_mobile_no
          = pagy_bootstrap_responsive_nav(@pagy).html_safe
  #menu1.tab-pane.container.fade
    .card
      .card-body
        %h4 Upload student information
        .row
          .col-md-6
            = label_tag 'Class'
            = select_tag 'standard', options_for_select(@standards.collect{ |s| [s.name, s.id] }), class: 'standard-select'
          .col-md-4
